@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f2ebe3;
}

.product-box {
  margin: 1.75rem 1rem;
  min-height: 38.25rem; /* 612px */
  background: #fff;
  border-radius: 8px;
}

img.perfume-mobile {
  max-width: 21.4375rem; /* 343px */ 
  border-top-left-radius: 0.5rem; /* 8px */
  border-top-right-radius: 0.5rem; /* 8px */
}

.info-box {
  margin: 1.625rem 1.5rem; /* 26px 24px */
}

.info-box__type h3 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0.75rem; /* 12px */
  font-weight: 200;
  color: #6c7289;
  text-transform: uppercase;
  letter-spacing: 0.375rem; /* 6px */
}

.info-box__label h1 {
  font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 2rem; /* 32px */
}

footer {
  display: none;
}